{% extends "base.html" %}
{% block title %}Task{% endblock %}
{% block content %}
     <div class="container">
          <h1>Подробнее о задании # {{ task.id }}</h1>
          <h3>Заголовок: {{ task.title }}</h3>
          <p>Статус: {{ task.status }}</p>
          <p>Автор: {{ task.author }}</p>
          <p>Срок выполнения: {{ task.custom_date }}</p>
          <p>Полное описание: {{ task.full_desc }}</p>
          <a href="{% url 'index' %}" class="btn btn-primary">Назад</a>
          <a href="{% url 'delete_task' task.pk %}" class="btn btn-primary">Удалить</a>
          <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Редактировать</a>
     </div>
{% endblock content %}