{% extends 'base.html' %}
{% block title %}Подтверждение удаления{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Вы уверены что хотите удалить выбранные данные?</h1>
        <p>Заголовок: {{ task.title }}</p>
        <p>Описание: {{ task.full_desc }}</p>

        <form action="{% url 'confirm_delete' task.pk %}" method="post" class="confirm-delete-form">
          {% csrf_token %}
          <input type="submit" value="Удалить" class="btn btn-primary">
          <a href="{% url 'index' %}" class="btn btn-primary">Отмена</a>
        </form>

    </div>
{% endblock %}